.trending {
  display: flex;
  flex-direction: column;

  .head-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;

    .horizontal-line {
      width: 38%;
    }

    span {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .container {
    display: flex;
    justify-content: space-evenly;

    img {
      height: 40px;
    }

    .title {
      margin-top: 8px;
    }

    .tagline {
      color: rgba(0, 0, 0, 0.7);
      font-size: 12px;

    }

    .comments-count {
      font-size: 10px;
    }
  }
}